@import "../../common/colors";
@import "../../common/variables";

.host {
  height: 230px;
  padding: 20px $header-side-padding;;
  box-sizing: border-box;
}

.logo {
  color: $pink;
  display: block;
  margin-bottom: 55px;
}
