@import "../mixins";
@import "../colors";

.host {
  display: flex;
  align-items: center;
}

.item {
  margin-right: 10px;
  @include makeColorfulBtn(gray);
  padding: 0 15px;
  height: 25px;
}

.itemActive {
  @extend .item;
  @include makeColorfulBtn($pink);
  cursor: auto;
}
