@import '../../common/colors';
@import '../../common/mixins';

.host {}

.input {
  outline: none;
  height: 55px;
  border: 0;
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: solid 2px transparent;
  font-size: 20px;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
 &::placeholder {
  color: rgba(255,255,255,0.7);
}
  &:focus {
    border-color: $pink;
  }
}
.heading {
  text-transform: uppercase;
  margin-bottom: 25px;
  font-size: 16px;
}

.actionsRow {
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;

  span {
    margin-right: 10px;
  }

}

.submitBtn {
  margin-left: auto;

  width: 200px;
  height: 35px;
  font-size: 13px;

  @include makeColorfulBtn($pink);
}
