@import "./colors";

@mixin makeColorfulBtn($base-color) {
  border-radius: 3px;
  border: 0;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: $base-color;

  &:disabled {
    background-color: mix($base-color, $porcelain, 30%);
  }

  &:hover:not(:disabled) {
    background-color: mix(#000, $base-color, 10%);
  }
}
